In [5]:
import pandas as pd
import numpy as np

Duplicate data in 2 side 
```Progen```
1. Any duplicate lease number - yes 
2. Name (property name)
3. OVCP_ID - JLL Interface 
4. Corrigo Customer Number 

```Property hub```
1. RecordID (OVCP_ID)
2. E1 BU
3. Client Property Code
4. Property Name
5. Address 1

##### After duplicate report, Numpy compare OVCP_ID
RecordID vs OVCP_ID - JLL Interface

In [6]:
# IPATH
RPATHPROGEN = "C:\\Users\\Gordon.Tang\\OneDrive - JLL\\Progen_Site_List\\" 
OPATHPROGEN = f"{RPATHPROGEN}progen15-02-2022.csv"
OPATHPHUB = "C:\\Users\\Gordon.Tang\\Desktop\\dataManagement\\ds\\phub\\phub.xlsx"

df_progen = pd.read_csv(OPATHPROGEN)
df_phub = pd.read_excel(OPATHPHUB)

In [11]:
df_progen_1 = df_progen[["Name","Corrigo Customer Number","OVCP_ID - JLL Interface"]]

In [16]:
df_phub_1 = df_phub[["RecordID", "Property Name", "Address 1"]]

In [13]:
df_progen_1['OVCP_ID - JLL Interface'] = df_progen_1['OVCP_ID - JLL Interface'].astype(int)

C:\Users\GORDON~1.TAN\AppData\Local\Temp/ipykernel_2448/3706924634.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_progen_1['OVCP_ID - JLL Interface'] = df_progen_1['OVCP_ID - JLL Interface'].astype(int)

In [14]:
df_progen_1

,Name,Corrigo Customer Number,OVCP_ID - JLL Interface
0,VIC - BRIGHT - 115 Gavan Street Bright ACC,2249.0,17648631
1,VIC - BURWOOD - 400 Burwood Highway Burwood ACC 1,2370.0,18046502
2,VIC - FERNTREE GULLY - 1 Mountaingate Drive Fe...,348.0,17648434
3,VIC - FRANKSTON - 34 Willis Street Frankston A...,873.0,17649675
4,VIC - HAMILTON - Foster Street Hamilton LCC LAB,880.0,17650627
...,...,...,...
2409,"WA - MIRA MAR - Pathology Room, Albany Day Hos...",0.0,0
2410,NSW - DARLINGHURST - 213 - 219 Darlinghurst Ro...,4448.0,18046473
2411,WA - WEST PERTH - Path Room 1 Gnd Flr and Path...,0.0,0
2412,"QLD - TARINGA - QML Laboratory, Westside Priva...",0.0,0
2413,"QLD - BUDERIM - Tenancy G1.2,10 King Street",0.0,0

In [17]:
df_phub_1

      RecordID                              Property Name           Address 1
0     17648402                  NSW - UMINA - 1 Alfred St         1 Alfred St
1     17648403         VIC - CORIO - 1 Bacchus Marsh Road  1 Bacchus Marsh Rd
2     17648404              TAS - BRIGHTON - 1 Bedford St        1 Bedford St
3     17648405                   VIC - MERNDA - 1 Bent St           1 Bent St
4     17648406          WA - CAREY PARK - 1 Brittain Road       1 Brittain Rd
...        ...                                        ...                 ...
2707  95767780          NSW - SHOAL BAY - 5 Government Rd     5 Government Rd
2708  95767782                 VIC - MELTON - 275 High St         275 High St
2709  95767787  QLD - GLADSTONE CENTRAL - 172 Goondoon St     172 Goondoon St
2710  95771961            QLD - KEPERRA - 1028 Samford Rd     1028 Samford Rd
2711  95771968          NSW - NEUTRAL BAY - 3-5 Waters Rd       3-5 Waters Rd

[2712 rows x 3 columns]