In [75]:
import pandas as pd 
import numpy as np
from enum import Enum
from datetime import datetime

In [17]:
class By_Revenue_type(Enum):
    TOTAL = 'TOTAL'
    TOTAL_EXCL_SUBCON = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2', 'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI',
                         'RLJ', 'RLK', 'SWG', 'APR', 'FLP', 'HYG', 'RED', 'RL5', 'RL6', 'RL8', 'RLP', 'RLR', 'SWP', 'HOOKCB', 'CBK', 'RLC', 'RLG', 'DOY']
                         
    GENERAL_WASTE = ['HOOK1', 'BR1', 'BR2', 'BR3', 'FL2', 'FLG', 'RL1', 'RL2',
                     'RL4', 'RL7', 'RL9', 'RLD', 'RLE', 'RLH', 'RLI', 'RLJ', 'RLK', 'SWG']
    CARDBOARD = ['APR', 'FLP', 'HYG', 'RED', 'RL5',
                 'RL6', 'RL8', 'RLP', 'RLR', 'SWP', 'HOOKCB']
    COMINGLE = ['CBK', 'RLC', 'RLG', 'DOY']
    SUBCONTRACTED = ['SUB', 'JJT', 'ALLMED', 'BIN', 'CKG', 'CLN', 'GRACE', 'JJR', 'OWE', 'REM', 'REP',
                     'REQ', 'RRNW', 'RRR', 'SHR', 'SPD', 'SUE', 'URM', 'VEO', 'VEOACT', 'VTG', 'AUSSKIP', 'GRIMA']
    UOS = ['UOSCB', 'UOSCO', 'UOSGW', 'CMDCB',
           'CMDGW', 'CUMCB', 'CUMGW', 'NEPGW', 'NEPCB']

In [81]:
PATH = "D:\\Run Analysis\\blob_storage\\booking\\processed\\32th_2021.csv"

df = pd.read_csv(PATH)

In [ ]:

obj = df.iloc[0,1]

obj = df.iloc[-1,1]
obj
# df.Date = pd.to_datetime(df.Date, format='%Y-%m-%d') 
# df = df.sort_values(by='Date')

# date1 = df.Date.dt.strftime('%d/%m/%Y')
# date1# total = []
# gw = sorted(By_Revenue_type['GENERAL_WASTE'].value)
# cm = sorted(By_Revenue_type['COMINGLE'].value)
# cb = sorted(By_Revenue_type['CARDBOARD'].value)
# uos = sorted(By_Revenue_type['UOS'].value)

# total.append(gw)
# total.append(cm)
# total.append(cb)
# total.append(uos)
# total

# def flatten(nest_list :list):
#             return [item for sublist in nest_list for item in sublist]

# total = flatten(total)
# df.excl_gst_price.isin ()

# df[df.Route_Number.isin(total)].excl_gst_price.sum()

# for route in total:
#     print(route)

In [19]:
PATH_WE = "D:\\Run Analysis\\blob_storage\\tip_waste_edge\\processed\\40th_2021.csv"
PATH_SUEZ = "D:\\Run Analysis\\blob_storage\\tip_suez\\processed\\40th_2021.csv"
tipWe_df = pd.read_csv(PATH_WE)
tipSuez_df = pd.read_csv(PATH_SUEZ)

tipWe_df.head(5)

,Sequence_No,Booking_No,Customer_Details,Route_No,Truck_No,Route_Date,Disposal_Date,Tip_Site,Tip_In_Time,Tip_Out_Time,...,Docket_No,Gross_Weight,Tare_Weight,Branch,Route_number,General_waste_cost,Cardboard_Grima_rebate,Cardboard_Poly_rebate,Comingle_cost,net_t
0,289705422,0,NaN,BR1-3,XN75OS,2021-10-06 00:00:00.0000000,2021-10-06 00:00:00.0000000,Suez - Artarmon,00:00:00,03:27:16,...,AR110178263.0,10.06,8.00,NaN,BR1,550.4732,NaN,NaN,NaN,2.06
1,289838454,0,NaN,BR2-3,CJ65PS,2021-10-06 00:00:00.0000000,2021-10-07 00:00:00.0000000,Suez - Auburn,00:00:00,02:27:13,...,AU120155543.0,16.22,14.70,NaN,BR2,406.1744,NaN,NaN,NaN,1.52
2,289733841,0,NaN,BR3-3,XN06OJ,2021-10-06 00:00:00.0000000,2021-10-06 00:00:00.0000000,Suez - Wetherill Park,00:00:00,11:04:55,...,DR150084552,17.48,14.76,NaN,BR3,726.8384,NaN,NaN,NaN,2.72
3,289730946,0,NaN,CBK-3,XPL658,2021-10-06 00:00:00.0000000,2021-10-06 00:00:00.0000000,Visy Recycling,00:00:00,09:52:05,...,262600,7.52,7.24,NaN,CBK,NaN,NaN,NaN,53.2,0.28
4,289732788,0,NaN,CMDCB-3,CQ64LO,2021-10-06 00:00:00.0000000,2021-10-06 00:00:00.0000000,Grima Recycling,00:00:00,10:50:32,...,W266552,8.68,7.90,NaN,CMDCB,NaN,171.6,NaN,NaN,0.78

In [15]:

tipWe_df.General_waste_cost.sum()
tipWe_df.Cardboard_Grima_rebate.sum()
tipWe_df.Cardboard_Poly_rebate.sum()
tipWe_df.Comingle_cost.sum()

1443.9999999999995

In [11]:
tipSuez_df.total_price.sum()

115508.50160000002

In [ ]:

tipSuez_df.Route_number.isin() .General_waste_cost