In [114]:
import pandas as pd
import numpy as np

In [116]:
PATH_ROSTER = "D:\\Run Analysis\\blob_storage\\roster\\35th_2021.xlsx"
PATH_SAL = "D:\\Run Analysis\\blob_storage\\driver_salary\\processed\\35th_2021.xlsx"
sal_df = pd.read_excel(PATH_SAL)
# Employee_ID	Hours	 Gross 	Super
roster_df = pd.read_excel(PATH_ROSTER)

sal_df.Employee_ID = sal_df.Employee_ID.str.lower()
sal_df['total'] = sal_df.Gross + sal_df.Super
count_pri_dr = roster_df.groupby(['Primary_employeeID'])['Date'].count().rename("pri_dr")

count_sec_dr = roster_df.groupby(['Secondary_employeeID'])['Date'].count().rename("sec_dr")

count_dr_shifts = pd.concat([count_pri_dr, count_sec_dr], axis=1).fillna(0)

count_dr_shifts['Total'] = count_dr_shifts.pri_dr + count_dr_shifts.sec_dr

count_dr_shifts = count_dr_shifts['Total'].reset_index().rename(columns={"index" : "Employee_ID", "Total" : "total_shifts"})   
sal_shifts_df = sal_df.merge(count_dr_shifts, how="left", on="Employee_ID")

sal_shifts_df['per_shift_pay'] = sal_shifts_df.total / sal_shifts_df.total_shifts
sal_per_shift = sal_shifts_df[["Employee_ID", "per_shift_pay"]]

def pri_sal_cost(df):
    emp_id = df.Primary_employeeID
    sal = sal_per_shift.loc[sal_per_shift.Employee_ID == emp_id].per_shift_pay.values
    if len(sal) != 0:
       return sal[0]
    else:
        return 0

def sec_sal_cost(df):
    emp_id = df.Secondary_employeeID
    sal = sal_per_shift.loc[sal_per_shift.Employee_ID == emp_id].per_shift_pay.values
    if len(sal) != 0:
       return sal[0]
    else:
        return 0

roster_df['pri_sal'] = roster_df.apply(pri_sal_cost, axis=1)
roster_df['sec_sal'] = roster_df.apply(sec_sal_cost, axis=1)

roster_df['sal_cost'] = roster_df.pri_sal + roster_df.sec_sal

sal_df = roster_df[['Date','sal_cost','Primary_route', 'Satellite_Route_1','Satellite_Route_2']].fillna(0)    

def per_route_cost(df):
    count = 0 
    p_route = df.Primary_route
    route_1 = df.Satellite_Route_1
    route_2 = df.Satellite_Route_2
    if p_route != 0:
        count = count + 1
    if route_1 != 0:
        count = count + 1
    if route_2 != 0:
        routes = route_2.split("/")
        count = count + len(routes)
    cost = df.sal_cost / count
    return cost, count


sal_df[['per_run_sal', "count_of"]] = sal_df.apply(per_route_cost, axis=1, result_type='expand') 

sal_df_1 = sal_df[sal_df.Primary_route.ne(
    0)][["Date", "Primary_route", "per_run_sal", "count_of"]].rename(columns={'Primary_route': 'route'})

sal_df_2 = sal_df[sal_df.Satellite_Route_1.ne(
    0)][["Date", "Satellite_Route_1", "per_run_sal", "count_of"]].rename(columns={'Satellite_Route_1': 'route'})

sal_df_3 = (sal_df[sal_df.Satellite_Route_2.ne(0)][["Date", "Satellite_Route_2", "per_run_sal", "count_of"]]
            .set_index(['Date', 'per_run_sal', 'count_of'])
            .apply(lambda x: x['Satellite_Route_2']
            .split('/') if type(x['Satellite_Route_2']) == str else 0, axis=1)
            .explode()
            .reset_index()
            .rename(columns={ 0 : 'route'})
            )

pd.concat([sal_df_1,sal_df_2,sal_df_3])

         Date route  per_run_sal  count_of
0  2021-09-01   RLC     0.000000       1.0
1  2021-09-01   RLK   619.383214       1.0
2  2021-09-01   BR1   220.935714       1.0
3  2021-09-01   SWG   328.550000       1.0
4  2021-09-01   HYG   153.338750       4.0
..        ...   ...          ...       ...
0  2021-09-01   RL6   153.338750       4.0
1  2021-09-01   RLP   153.338750       4.0
2  2021-09-02   RLG   140.435000       3.0
3  2021-09-07   RL6   153.338750       4.0
4  2021-09-07   RLP   153.338750       4.0

[135 rows x 4 columns]

In [66]:
pd.concat([sal_df_1, sal_df_2,sal_df_3,sal_df_4]).per_run_sal.sum()

46120.6225

In [88]:
count_dr_shifts

          pri_dr  sec_dr
ir02         3.0     1.0
ir12         2.0     4.0
irdeaz       5.0     0.0
subcon1      3.0     0.0
swansgia     5.0     0.0
swbranat     5.0     1.0
swbraric     4.0     0.0
swburlei     4.0     0.0
swdinvie     5.0     0.0
swedwben     5.0     0.0
swfiejih     2.0     1.0
swhearay     2.0     2.0
swhewg       1.0     0.0
swliqi       4.0     0.0
swlocbra     4.0     0.0
swmittai     4.0     0.0
swnevpj      7.0     0.0
swpetand     7.0     0.0
swrigda      5.0     0.0
swrobgar     5.0     0.0
swsinvic     7.0     0.0
swtaujul     4.0     0.0
swtubjoh     1.0     0.0
swtupfek     5.0     0.0
swvisgre     5.0     0.0
swwarrob     4.0     0.0
swwhinei     4.0     0.0
ir20         0.0     6.0
swrobg       0.0     1.0

In [90]:
sal_shifts_df

   Employee_ID  Hours    Gross   Super    total  total_shifts
0     swansgia  55.10  2278.21  120.24  2398.45           5.0
1     swbranat  42.05  1270.39  103.36  1373.75           6.0
2     swbraric  30.65  1252.59  114.74  1367.33           4.0
3     swburlei  41.42  1134.14   94.77  1228.91           4.0
4     swdinvie  40.70  1403.06  123.19  1526.25           5.0
5     swedwben  49.35  1543.96   98.79  1642.75           5.0
6     swfiejih  32.65  1133.48  130.24  1263.72           3.0
7     swgooowe   0.00  1504.00    0.00  1504.00           NaN
8     swhearay  54.00  1502.09   91.70  1593.79           4.0
9       swhewg  17.85   520.32   79.04   599.36           1.0
10      swliqi  33.00  1061.65   94.11  1155.76           4.0
11    swlocbra  52.75  2337.26  116.16  2453.42           4.0
12    swmittai  43.00  1597.65  127.73  1725.38           4.0
13     swnevpj  52.50  2097.70  131.21  2228.91           7.0
14    swpetand  32.05  1434.14  112.41  1546.55           7.0
15     swrigda  48.35  2217.46  125.45  2342.91           5.0
16    swrobgar  53.85  1823.50  104.97  1928.47           5.0
17      swrobg   4.50   236.28    0.00   236.28           1.0
18    swsinvic  54.60  1879.42  104.97  1984.39           7.0
19    swtaujul  47.75  2150.68   88.49  2239.17           4.0
20    swtubjoh  17.70   674.76   47.10   721.86           1.0
21    swtupfek  56.50  2029.41  115.07  2144.48           5.0
22    swvisgre  41.50  1643.36  142.15  1785.51           5.0
23    swwarrob  48.50  1580.25  104.97  1685.22           4.0
24    swwhinei  44.40  1375.84  102.55  1478.39           4.0
25        ir12  48.00  1309.28  100.76  1410.04           6.0
26      irdeaz  45.50  1450.67  109.43  1560.10           5.0
27        ir02  38.00  2190.70  219.07  2409.77           4.0
28        ir20  44.25  1542.84   99.75  1642.59           6.0

In [94]:
sal_shifts_df

   Employee_ID  Hours    Gross   Super    total  total_shifts  per_shift_pay
0     swansgia  55.10  2278.21  120.24  2398.45           5.0     479.690000
1     swbranat  42.05  1270.39  103.36  1373.75           6.0     228.958333
2     swbraric  30.65  1252.59  114.74  1367.33           4.0     341.832500
3     swburlei  41.42  1134.14   94.77  1228.91           4.0     307.227500
4     swdinvie  40.70  1403.06  123.19  1526.25           5.0     305.250000
5     swedwben  49.35  1543.96   98.79  1642.75           5.0     328.550000
6     swfiejih  32.65  1133.48  130.24  1263.72           3.0     421.240000
7     swgooowe   0.00  1504.00    0.00  1504.00           NaN            NaN
8     swhearay  54.00  1502.09   91.70  1593.79           4.0     398.447500
9       swhewg  17.85   520.32   79.04   599.36           1.0     599.360000
10      swliqi  33.00  1061.65   94.11  1155.76           4.0     288.940000
11    swlocbra  52.75  2337.26  116.16  2453.42           4.0     613.355000
12    swmittai  43.00  1597.65  127.73  1725.38           4.0     431.345000
13     swnevpj  52.50  2097.70  131.21  2228.91           7.0     318.415714
14    swpetand  32.05  1434.14  112.41  1546.55           7.0     220.935714
15     swrigda  48.35  2217.46  125.45  2342.91           5.0     468.582000
16    swrobgar  53.85  1823.50  104.97  1928.47           5.0     385.694000
17      swrobg   4.50   236.28    0.00   236.28           1.0     236.280000
18    swsinvic  54.60  1879.42  104.97  1984.39           7.0     283.484286
19    swtaujul  47.75  2150.68   88.49  2239.17           4.0     559.792500
20    swtubjoh  17.70   674.76   47.10   721.86           1.0     721.860000
21    swtupfek  56.50  2029.41  115.07  2144.48           5.0     428.896000
22    swvisgre  41.50  1643.36  142.15  1785.51           5.0     357.102000
23    swwarrob  48.50  1580.25  104.97  1685.22           4.0     421.305000
24    swwhinei  44.40  1375.84  102.55  1478.39           4.0     369.597500
25        ir12  48.00  1309.28  100.76  1410.04           6.0     235.006667
26      irdeaz  45.50  1450.67  109.43  1560.10           5.0     312.020000
27        ir02  38.00  2190.70  219.07  2409.77           4.0     602.442500
28        ir20  44.25  1542.84   99.75  1642.59           6.0     273.765000

In [106]:
sal_df.sal_cost.sum()

45673.51

In [101]:
roster_df.pri_sal.sum()

40805.0775

In [102]:
roster_df.sec_sal.sum()

4868.4325

In [103]:
# pd.concat([sal_df_1,sal_df_2,sal_df_3,sal_df_4])

In [110]:
sal_df

          Date    sal_cost Primary_route Satellite_Route_1 Satellite_Route_2
0   2021-09-01    0.000000           RLC                 0                 0
1   2021-09-01  619.383214           RLK                 0                 0
2   2021-09-01  220.935714           BR1                 0                 0
3   2021-09-01  328.550000           SWG                 0                 0
4   2021-09-01  613.355000           HYG               RL5           RL6/RLP
..         ...         ...           ...               ...               ...
107 2021-09-07  288.940000        NIWPR1                 0                 0
108 2021-09-07  431.345000           BR3                 0                 0
109 2021-09-07  518.490952           RLD                 0                 0
110 2021-09-07  518.490952           RLJ                 0                 0
111 2021-09-07  312.020000           RL7                 0                 0

[112 rows x 5 columns]

In [ ]:

# emp_id = df.Secondary_employeeID
# sal = sal_per_shift.loc[sal_per_shift.Employee_ID == emp_id].per_shift_pay.values


# .T.fillna(0)

# roster_df.Satellite_Route_2